.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c4c4c4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    background-color: rgba(51, 51, 51, 0.4);
}
label, input, button{
    display: block;
    margin-bottom: 10px;
}
input{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: #8a5020;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #683801;
}
.message{
    margin-top:10px;
    padding: 10px;
    border-radius: 5px;
}
.success{
    background-color: #d4edda;
    color: #155724;
}
.error{
    color:#e00b0b;
    font-size:20px;
}
body{
    background-image: url(bgimage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
}